@tailwind base;
@tailwind components;
@tailwind utilities;


*,*::after,*::before{
margin: 0;
padding: 0;
box-sizing: border-box;}

body{
    overflow-x: hidden;
}
#arrow{
    opacity: 0;
    transition: opacity 200ms linear,
                transform 250ms linear;
    transform: translate(0);
}

#card:hover #arrow{
    opacity: 1;
    transform: translateX(8px);
}